$primary: #1E213A;
$secondary: #100E1D;

$gray-light: #E7E7EB;
$gray-dark: #A09FB1;
$gray: #6E707A;

$yellow-bar: #FFEC65;
$bg-fahrenheit: #585676;
$color-celsius: #110E3C;

$InputSearch: #616475;
$SearchButtonColor: #3C47E9;
$ColorBorder: #616475;
$Error: #e74c3c;